* {
    margin: 0;
    padding: 0;
}

.text_effect {
    text-shadow: 2px 4px 2px blue;
}


/* annimation on batman */

.batman_run {
    width: 100%;
    height: 100px;
    position: relative;
}

.batman_run img {
    width: 140px;
    height: 120px;
    position: absolute;
    left: 0;
    top: -15px;
    animation-name: batmanrun;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes batmanrun {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}

.love_class {
    width: 50px;
    height: 50px;
    transition-property: width, height;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.love_class:hover {
    width: 100px;
    height: 100px;
}

.about_para {
    column-count: 3;
    column-gap: 50px;
    column-rule: dashed;
    text-align: justify;
}

.img-fluid {
    border-radius: 20px;
}

.card {
    box-shadow: 4px 4px 5px 4px gray;
}

.join_gradiant {
    background-image: linear-gradient(to left, #F650FE, #607BF5);
}

.flex_css {
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to left, #F650FE, #607BF5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.carousel-inner img {
    width: 100%;
    height: 94vh;
}